<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <!-- <script>href="{{url_for('static', filename='scripts.js')}}"</script> -->
   </head>
<body>
  <div class="wrapper">
    <h2>LOG-IN</h2>
    <form action="http://localhost:5000/login" name="login" method="POST">
      <div class="input-box">
        <input name="username" type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input name="password" type="password" placeholder="Enter your password" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login Now">
      </div>
      <div class="text">
        <h3>Don't have an account? <a href="{{url_for('register')}}">Register now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>